<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1>Edit Workout</h1>
    
    <table class="header">
        <tr>
            <th><%= workout.date %></th>
            <th><%= workout.workoutName %></th>
            <th>Rating: <%= workout.rating %> </th>
        </tr>
    </table>

    <table>
        <tr>
            <th>Body Part</th>
            <th>Exercise</th>
            <th>Weight (lbs)</th>
            <th>Reps</th>
        </tr>
        <% workout.exercises.forEach(function(e) { %>
        <tr>
            <form id="exercisess">
                <td><%= e.bodyPart %></td>
                <td><%= e.exerciseName %></td>
                <td><%= e.weight %></td>
                <td><%= e.reps %></td>
            </form>
        </tr>
        <% }); %>
    </table>
</body>
</html>