<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1>Create New Template</h1>
    <form action="/workout" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="Name of Template">

        <table>
        <% workout.forEach(function(w) { %>
            <th> <%= w.name %> </th>
            <th> <%= w.bodyPart  %> </th>
            <th> Weight </th>
            <th> Reps </th>

            <tr>
                <td> &nbsp;</td>
                <td> &nbsp;</td>
                <td> <%= w.weight %> </td>
                <td> <%= w.reps %> </td>
            </tr>
        <% }) %>
        </table>

        <input type="submit" value="Add Template">
    </form>

    <a href="/workout/exercise">
        <input type="button" value="Add Exercise">
    </a>
</body>
</html>