<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1>Workout Details</h1>

    <table class="details">
        <tr>
            <th><%= workout.date %></th>
            <th><%= workout.workoutName %></th>
    
        </tr>

        <tr>
            <td><%= workout.exerciseName %> </td>
            <td> &nbsp; </td>
        </tr>

        <tr>
            <td><%= workout.weight %></td>
            <td><%= workout.reps %> </td>
        </tr>
    </table>

    <form action="/workout/<%= workout._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Workout">
    </form>
</body>
</html>