<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title> <%= title %> </title>

    <script>
        const exercisesObject = {
        'Back': ['Barbell Row', 'Pull Up', 'Lat Pulldown', 'Seated Row'],
        'Biceps': ['Bicep Curl', 'Hammer Curl', 'Preacher Curl'],
        'Triceps': ['Tricep Extension', 'Skullcrusher', 'Tricep Dip'],
        'Shoulders': ['Shoulder Press', 'Lateral Raise'],
        'Chest': ['Bench Press', 'Chest Fly', 'Push Up'],
        'Legs': ['Squat', 'Deadlift', 'Hip Thrust', 'Lunge'],
        'Abs': ['Sit Up'],
        'Cardio': ['Running', 'Stairmaster', 'Walking', 'Jump Rope']
        }

    window.onload = function() {
        let bodyParts = document.querySelectorAll('.bodyPart'); 
        let exerciseOps = document.querySelectorAll('.exercise');

        for (const x in exercisesObject) {
            bodyParts.forEach((bodyPart)=>{
                bodyPart.options[bodyPart.options.length] = new Option(x,x);
            })
        }

        function bodyPartOnChangeHandler() {
            let exerciseOp = this.nextSibling.nextSibling;
            exerciseOp.length = 1;
            const y = exercisesObject[this.value];
            for (let i=0; i<y.length; i++) {
                exerciseOp.options[exerciseOp.options.length] = new Option(y[i], y[i]);
                }
            }
        bodyParts.forEach((bodyPart) => {
            bodyPart.onchange = bodyPartOnChangeHandler;
        })
    }
    </script>
</head>
<body>
    <nav>
        <a href="/">
            <button class="enter">
                <span>Home</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </a>

        <a href="/workout/history">
            <button class="enter">
                <span>See Past Workouts</span>
                <svg viewBox="0 0 13 10" height="10px" width="15px">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </a>

        <img src="https://cdn-icons-png.flaticon.com/512/2307/2307887.png" width="80">
    </nav>

    <h1>Workout Details</h1>

    <table class="header">
        <tr>
            <th><%= workout.date %></th>
            <th><%= workout.workoutName %></th>
            <th>Rating: <%= workout.rating %> </th>
        </tr>
    </table>

    <table>
        <tr>
            <th>Body Part</th>
            <th>Exercise</th>
            <th>Weight (lbs)</th>
            <th>Reps</th>
        </tr>
        <% workout.exercises.forEach(function(e) { %>
        <tr>
            <form id="exercises">
                <td><%= e.bodyPart %></td>
                <td><%= e.exerciseName %></td>
                <td><%= e.weight %></td>
                <td><%= e.reps %></td>
                <td>
                    <!-- <form action="/exercises/<%= e._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Exercise">
                    </form> -->
                    <form action="/exercises/<%= e._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Exercise">
                    </form>
                </td>
            </form>
        </tr>
        <% }); %>
    </table>

    <h3>Add an Exercise</h3>
    <form action="/workout/<%= workout._id %>/exercise" method="POST" autocomplete="off">
        <select name="bodyPart" class="bodyPart">
            <option value="" selected="selected">Body Part</option>
        </select>
        <select name="exerciseName" class="exercise">
            <option value="" selected="selected">Exercise</option>
        </select>
        <label for="weight">Weight:</label>
        <input name="weight" type="number" class="weight" autocomplete="off">
        <label for="reps">Reps:</label>
        <input name="reps" type="number" class="reps" autocomplete="off">
        <input type="submit" value="Add Exercise">
    </form>

    <div class="bottom">
        <form action="/workout/<%= workout._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Workout">
        </form>
    </div>
</body>
</html>